<div class="jumbotron">
	<h1 class="text-center">Photo Gallery</h1>
</div>

<p ng-show="message.length" class="alert alert-info">
	{{message}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/photos/new" class="btn btn-primary" type="button">
						New photo
					</a>
				</span>
				<input class="form-control" placeholder="Filter by photo title" 
					ng-model="filter" ng-model-options="{ debounce: 500 }">
		</form>
	</div>
</div>

<div class="row">
    <my-panel class="col-md-2 animated-panel" ng-repeat="photo in photos | filter: filter" title="{{photo.title}}">
        <my-photo url="{{photo.url}}" alt="{{photo.title}}"></my-photo>

		<a class="btn btn-primary btn-block" href="/photos/edit/{{photo._id}}">
			Edit
		</a>
		<my-danger-button name="Remover" action="remove(photo)">Remove</my-danger-button>
    </my-panel>
</div>
<my-titles></my-titles>